Skip to content
This repository
Search
Pull requests
Issues
Gist
 @griffgruffjava
 Watch 1,875
  Star 43,159
  Fork 17,421 github/gitignore
 Code  Pull requests 171  Projects 0  Pulse  Graphs
Branch: master Find file Copy pathgitignore/Global/JetBrains.gitignore
2229768  18 days ago
@exarus exarus Updated Jetbrains.gitignore
20 contributors @samskiter @arcresu @LazarusX @thunsaker @victorhaggqvist @jturmel @rocketraman @RobertoNovelo @petermorlion @exarus @yatskevich @ssinss @GingerGeek @Fuhrmann @ergl @drothmaler @Nainterceptor @cemmersb @tsteinholz @shiftkey
RawBlameHistory
43 lines (32 sloc)  858 Bytes
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help